﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Content/css.css" rel="stylesheet" />
    @*<script src="https://code.jquery.com/jquery-2.2.4.min.js"        crossorigin="anonymous"></script>*@
    <style type="text/css">
        .mensaje{
            border:1px solid #ccc
        }
        input[type='button'] {
            cursor:pointer;
            background:#ccc;
            padding:2px; margin:2px;
        }
        input[type='text'].error, textarea.error {
            border: solid 1px red;
            background: #f7d0d0;
        } 
    </style>
</head>
<body>

    <input type="button" id="btnImprimir" value="Imprimir" /><br />
    <input type="button" id="bntGenerarExcel" value="Generar Excel" /><br />
    @*<div id="divimprimir" class="oculto-impresion">
        <iframe name="print_frame" id="print_frame"></iframe>
    </div>*@
    <hr />
    <div class="mensaje">
        <table border="0">
            <tbody>
                <tr>
                    <td>Numero:</td>
                    <td><input type="text" id="txtnumero" name="txtnumero" maxlength="9" /></td>
                </tr>
                <tr>
                    <td>Mensaje</td>
                    <td><textarea rows="5" cols="50" id="txtmensaje" name="txtmensaje" maxlength="150"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="button" id="btnenviar" value="Enviar" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        function ajax() {
            var xmlhttp = false;
            try {
                xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                try {
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (E) {
                    xmlhttp = false;
                }
            }
            if (!xmlhttp && typeof XMLHttpRequest != 'undefined') {
                xmlhttp = new XMLHttpRequest();
            }
            return xmlhttp;
        }
        function Imprimir() {

            $.ajax({
                type: "GET",
                url: "/Home/GenerarPdfv2",
                data: {},
                contentType: 'application/pdf',
                cache: false,
                success: function (resultado) {
 
                    var iframe = document.getElementById("print_frame");
                    iframe.setAttribute("src", resultado); 
                    setTimeout(function () {
                        if (iframe.src) {
                            var frm = iframe.contentWindow;
                            frm.focus(); 
                            frm.print();
                        }

                    }, 3000);

                }
            });
        }
        function ExportarExcel() { 
            var xhr = ajax();
            xhr.open("GET", "@Url.Content("~/Home/ExportarExcel")", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) { 
                    var url = '@Url.Content("~/Descargas/")' + xhr.responseText;
                    var link = document.createElement("a");
                    link.href = xhr.responseText;//url;
                    link.download = "ExcelDemo.xlsx";
                    link.click();
                    //window.open(url,"_blank");
                }
            }
            //para post xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"); 
            xhr.send(null);//aqui va queryString si lo tiene
             
        }
        function EnviarMensaje(numeroDestino, mensaje) {
            var xhr = ajax();
            var jsonData = JSON.stringify({ 'numeroDestino': numeroDestino, 'mensaje': mensaje});
            var url = "@Url.Content("~/Home/EnviarSms/")" ;
            xhr.open("POST", url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    alert("mensaje enviado");
                    limpiar();
                }
                if (xhr.status == 500) {
                    alert(xhr.statusText);
                }
                console.log(xhr);
            } 
            xhr.setRequestHeader("Content-Type", "application/json; charset=utf-8");
            xhr.send(jsonData); 
        }
        function validarCamposRequerido(input) {
            var regNumero = /^([0-9]){9,9}$/;
            var regVacio = /^\s*$/; 
            var flagError = true;
            input.className = "";
            if (input.value == ""
                || typeof (input.value) == undefined
                || regVacio.test(input.value)
                || !regNumero.test(input.value)) {
                input.className = "error";
                flagError = false;

            }
            return flagError;
        }
        function validarCampoAlfanumerico(input) {
            var regVacio = /^\s*$/;
            var flagError = true;
            input.className = "";
            if (input.value == ""
                || typeof (input.value) == undefined
                || regVacio.test(input.value) ) {
                input.className = "error";
                flagError = false;

            }
            return flagError;
        }
        function limpiar() {
            document.getElementById("txtnumero").value = "";
            document.getElementById("txtmensaje").value = "";
        }
        window.onload = function () {
            document.getElementById("bntGenerarExcel").addEventListener("click", function () {
                ExportarExcel();
            }, false);
            document.getElementById("txtnumero").addEventListener("blur", function () {
                validarCamposRequerido(this);
            }, false);
            document.getElementById("txtmensaje").addEventListener("blur", function () {
                validarCampoAlfanumerico(this);
            }, false);
            document.getElementById("btnenviar").addEventListener("click", function (e) {
                e.preventDefault(); 
                var txtnumero = document.getElementById("txtnumero");
                var txtmensaje = document.getElementById("txtmensaje"); 
                if (!validarCamposRequerido(txtnumero)) return;
                if (!validarCampoAlfanumerico(txtmensaje)) return;
                 
                EnviarMensaje(txtnumero.value, txtmensaje.value);
            }, false);
            this.document.getElementById("Imprimir").addEventListener("click", function () {
                try {
                    Imprimir();
                } catch (e) {
                    alert("ocurrió un error");
                }
                
            }, false);
            
        };
         
    </script>

</body>
</html>
